[submodule "vendor/objective-zip"]
	path = vendor/objective-zip
	url = https://github.com/AgileBits/objective-zip.git
[submodule "vendor/TouchXML"]
	path = vendor/TouchXML
	url = https://github.com/TouchCode/TouchXML
