
Sample Project/Simple KML Example.xcodeproj/xcuserdata/andreacremaschi.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

Sample Project/Simple KML Example.xcodeproj/xcuserdata/andreacremaschi.xcuserdatad/xcschemes/Simple KML Example.xcscheme

Sample Project/Simple KML Example.xcodeproj/project.xcworkspace/xcuserdata/andreacremaschi.xcuserdatad/WorkspaceSettings.xcsettings

Sample Project/Simple KML Example.xcodeproj/xcuserdata/andreacremaschi.xcuserdatad/xcschemes/xcschememanagement.plist

Sample Project/Simple KML Example.xcodeproj/project.xcworkspace/xcuserdata/andreacremaschi.xcuserdatad/UserInterfaceState.xcuserstate

Sample Project/Simple KML Example.xcodeproj/project.xcworkspace/contents.xcworkspacedata
